/* stylelint-disable selector-class-pattern */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #2c7a83;
  padding-block: 80px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 30px 30px;
  width: 85%;
  background-color: rgb(255 255 255 / 90%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Headers */

.logo {
  height: 70px;
}

.nav {
  display: flex;
  width: 85%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: rgb(255 255 255 / 90%);
  color: black;
  border-bottom: 2px spolid black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.nav a {
  font-weight: 400;
  font-size: 1.2rem;
  color: inherit;
}

.nav-item {
  text-decoration: none;
  margin-right: 1.25rem;
  cursor: pointer;
}

.nav-item.active {
  font-weight: 600;
  text-decoration: underline;
  color: #2c7a83;
}

.nav-item:hover {
  text-decoration: underline;
  color: #2c7a83;
}

/* Title Header */

.title-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 25px;
}

.title {
  margin-top: 10px;
  margin-bottom: 0;
  align-self: flex-start;
}

/* Form */

svg {
  stroke: gray;
}

input,
select,
fieldset {
  width: 100%;
  font: inherit;
  border-radius: 4px;
  border: 1px solid hsl(0deg 0% 80%);
}

label {
  display: block;
  margin-bottom: 8px;
  padding-left: 5px;
}

fieldset {
  border: solid 1px gray;
  padding: 24px 15px;
}

.form {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 47%;
}

input,
form > select,
fieldset > select {
  height: 40px;
  margin-bottom: 20px;
  padding-left: 8px;
}

.button-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 99%;
}

.button {
  padding: 15px 20px;
  margin-top: 15px;
  width: 180px;
  text-transform: uppercase;
  font-size: 1rem;
  background-color: #42b983;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 0.85rem;
  line-height: 1.5rem;
  padding-top: 10px;
  display: none;
}

.visible {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Select Fields */

.react-select-container {
  width: 100% !important;
  margin-bottom: 20px !important;
}

.react-select__control {
  min-height: 40px !important;
}

.react-select__value-container {
  padding: 0 8px !important;
}

.react-select__input-container {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  margin: 0 !important;
}

.react-select__indicator-separator,
.react-select__indicator {
  color: gray !important;
}

/* Search component */

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 300px;
  gap: 15px;
}

.search label {
  width: 50px;
}

.search label,
.search input {
  margin: 0;
}

.search input::placeholder {
  font-style: italic;
}

/* data tables  */

.sc-dmctIk {
  border-radius: 0 !important;
}

/* Media Queries */

@media screen and (max-width: 1000px) {
  #root {
    padding-block: 50px;
  }

  .form {
    gap: 0;
  }

  .form-section {
    width: 100%;
  }
}

@media screen and (max-width: 630px) {
  #root {
    padding-block: 25px;
  }

  .nav,
  .main {
    width: 96%;
  }

  h1 {
    font-size: 1.5em;
  }

  .nav a {
    font-size: 1rem;
  }

  .logo {
    height: 50px;
  }

  .search {
    width: 100%;
    margin-top: 15px;
  }
}

@media screen and (max-width: 500px) {
  .nav {
    flex-direction: column;
    justify-content: flex-start;
  }

  .nav-menu {
    margin-top: 10px;
  }

  .button {
    width: 100%;
  }
}
